// GO FORWARD
.forward-appear,
.forward-enter {
  transform: translate3d(100%, 0, 0);
  z-index: 10;
  pointer-events: none !important;
}
.forward-appear-active,
.forward-enter.forward-enter-active {
  transition: 300ms !important;
  transform: translate3d(0, 0, 0);
  pointer-events: none !important;
  position: fixed !important;
}

.forward-exit {
  transition: 300ms;
  opacity: 0.7;
  z-index: -1;
  pointer-events: none !important;
}

// GO BACKWARDS
.backward-appear,
.backward-enter {
  opacity: 0.7;
  pointer-events: none !important;
}
.backward-appear-active,
.backward-enter.backward-enter-active {
  transition: 300ms;
  opacity: 1;
  pointer-events: none !important;
}

.backward-exit.backward-exit-active {
  transition: 300ms;
  transform: translate3d(100%, 0, 0);
  pointer-events: none !important;
} 