.shopping-cart-btn {
  // position: fixed !important;
  position: relative !important;
  // top: 12px;
  // right: 12px;
  .cart-count {
    position: absolute;
    background-color: var(--yellow);
    border-radius: 100%;
    display: grid;
    place-items: center;
    width: 14px;
    height: 14px;
    font-size: 10px;
    right: -6px;
    top: -6px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
  }
}