:root {
  --yellow: #FFF06B;
  --background: #F4F4F4;
  --grey: #00000027;
  --overflow: unset;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 box-shadow: 0 0 0 30px white inset !important;
}