.containerFirstLoad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    .yellowSide{
        width: 13px;
        height: 100%;
        background-color: #FFF06B;
        position: fixed;
        left: 0;
    }

    @media(min-width: 600px){
        .yellowSide {
            width: 73px;
            height: 100%;
        }
    }
    
    img {
        height: auto;
        width: auto;
    }

    .welcomeText{
        font-family: 'Inter', sans-serif;
        font-size: 170%;
        font-weight: 900;
        margin-top: 88px;
    }

    .randomLine{
        border: 1px solid black;
        width: 64px;
        opacity: 5%;
        margin-top: 5px;
    }

    .loginButton{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 38px;
        background-color: #FFF06B;
        border: none;
        border-radius: 100px;
        height: 53px;
        width: 225px;
        font-weight: 700;
        font-size: 16px;
    }

    .registerButton-loginPage{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 30px;
        background-color: #E4E4E4;
        border: none;
        border-radius: 100px;
        height: 53px;
        width: 225px;
        font-weight: 700;
        font-size: 16px;
    }

    .link{
        text-decoration: none;
        color: black;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 100%;
    }

    @media(max-width: 800px){
        img {
            height: 80px;
            width: auto;
        }
    }
}