.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 15px 20px;

    i {
        font-size: 24px;
    }
}

.sorting-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dropdown-container {
        position: relative;
        display: flex;
        justify-content: center;
        width: 48%;
        height: auto;
    
        .button {
            padding: 15px;
            width: 90%;
            border: 0;
            background-color: rgba(255, 255, 255, 0);
            border-bottom: 1px solid grey;
            cursor: pointer;
            outline: 0;
            font-size: 18px;
            font-weight: 500;
        }
    
        .dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 2;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.04);
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
    
                li {
                    padding: 8px 12px;
                }
                  
                li:hover {
                    background-color: rgba(0, 0, 0, 0.14);
                    cursor: pointer;
                }
            }
        }
    }

    .line {
        border-right: 1px solid grey;
        height: 40px;
    }
    
    .dropdown-container-filter {
        position: relative;
        display: flex;
        justify-content: center;
        width: 48%;
    
        .button-filter {
            padding: 15px;
            width: 90%;
            border: 0;
            background-color: rgba(255, 255, 255, 0);
            border-bottom: 1px solid grey;
            cursor: pointer;
            outline: 0;
            font-size: 18px;
            font-weight: 500;
        }
    
        .dropdown-filter {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 2;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.04);
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
    
                li {
                    padding: 8px 12px;
                }
                  
                li:hover {
                    background-color: rgba(0, 0, 0, 0.14);
                    cursor: pointer;
                }
            }
        }
    }
}

.container {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .product {
        border-top: 4px solid #FFF06B;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 48%;

        .image {
            width: 100%;
            height: auto;
        }

        .info-box {
            margin-top: -4px;
            background-color: white;
            height: 65px;

            .wishlist-btn {
                position: relative;
                display: grid;
                place-items: center;
                outline: none;
                border: none;
                border-radius: 100%;
                width: 32px;
                height: 32px;
                background-color: white;
                bottom: 41px;
                left: 140px;
                font-size: 17px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                i {
                margin-top: 2px;
                }
            }
            
            .text {
                margin-top: -27px;
               
                p {
                    padding: 4px;
                    margin: 0px;
                }
            }
        }
    }
}

