.menuToggle {
    display: block;
    position: fixed;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 6px;
        position: relative;

        background: #000000;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 5px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    span:first-child {
        transform-origin: 0% 0%;
    }

    span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, 2px);
        background: #232323;
    }

    input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -3px);   
    }

    input:checked ~ ul {
        transform: none;
    }

    .menu {
        position: fixed;
        width: 300px;
        height: 100%;
        top: 0;
        left: 0;

        background: #FFF06B;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-74%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

        .text {
            transition: 0.2s;

            &:active {
                transform: scale3d(0.9, 1, 0.9);
            }
        }

        .topText {
            margin-top: 80px;
        }

        .bold {
            font-weight: 700;
        }

        .divider {
            width: 200px;
            height: 4px;
            background-color: black;
            margin-left: 8px;
            margin-top: 8px;
        }

        .helper {
            padding-top: 12px;
            padding-left: 10px;
            width: 70%;
            display: flex;
            flex-wrap: wrap;

            .choose-color {
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
                padding: 0px;
                margin: 3px;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                transition: 250ms;
                &:active {
                    transform: scale3d(0.9, 0.9, 0.9);
                }
    
                .selected-color {
                    pointer-events: none;
                    position: relative;
                    margin: -2px 0px 0px 20px;
                    display: grid;
                    place-items: center;
                    width: 12px;
                    height: 12px;
                    border-radius: 100%;
                    background-color: black;
                    box-shadow: 0px 0px 0px 3px var(--background);
                    color: white;
                    font-size: 7px;
                }
            }
    
            .choose-size {
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
                padding: 0px;
                display: inline-flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                font-weight: 700;
                font-size: 14px;
                margin: 3px;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background-color: #DEDEDE;
                transition: 250ms;
                &:active {
                    transform: scale3d(0.9, 0.9, 0.9);
                }
            }
    
            .selected-size {
                margin: 3px;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background-color: black;
                color: #DEDEDE;
            }
        }

        li {
            cursor: pointer;
            text-decoration: none;
            color: #000000;
            
            transition: color 0.3s ease;
            padding: 10px 0px 0px 15px;
            font-size: 22px;
        }
    }
}

@media(max-width: 1025px) {
    .menuToggle {
        display: none;
    }
}

.header {
    padding: 40px 20px 15px 20px;

    .desktopHeader {
        display: flex;
        justify-content: center;

        .helper {
            display: inline-flex;
            position: absolute;
            top: 45px;
            right: 35px;

            .icons {
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                background-color: #FFF06B;
                
                i {
                    font-size: 38px;
                }
            }
        }
    }

    @media(max-width: 1025px) {
        .desktopHeader {
            display: none;
        }
    }

    .mobileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        i {
            font-size: 24px;
        }
    }

    @media(min-width: 1025px) {
        .mobileHeader {
            display: none;
        }
    }
    
    .profileTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#FFF06B;
        width: 155px;
        height: 42px;
        padding: 2px;
        font-size: 1.6rem;
        font-family: 'Inter', sans-serif;
    }
}

.sorting-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dropdown-container {
        position: relative;
        display: flex;
        justify-content: center;
        width: 48%;
        height: auto;
    
        .button {
            padding: 10px;
            width: 90%;
            border: 0;
            background-color: rgba(255, 255, 255, 0);
            border-bottom: 2px solid rgba(0,0,0,0.16);
            cursor: pointer;
            outline: 0;
            font-size: 17px;
            font-weight: 500;
        }
    }

    .line {
        border-right: 2px solid rgba(0,0,0,0.16);
        height: 30px;
    }
    
    .dropdown-container-filter {
        position: relative;
        display: flex;
        justify-content: center;
        width: 48%;
    
        .button-filter {
            padding: 10px;
            width: 90%;
            border: 0;
            background-color: rgba(255, 255, 255, 0);
            border-bottom: 2px solid rgba(0,0,0,0.16);
            cursor: pointer;
            outline: 0;
            font-size: 17px;
            font-weight: 500;
        }
    }
}

@media(min-width: 1025px) {
    .sorting-buttons {
        display: none;
    }
}

.dropdown {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    animation-name: category-anim;
    animation-duration: 0.4s;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        .bold {
            font-weight: bold;
        }

        li {
            padding: 8px 12px;
            display: inline;
            &:active {
                transform: scale(0.9);
            }
        }
    }
}

.selected-container {
    display: flex;
    justify-content: space-around;

    .selected-width {
        width: 299.55px;
        
        .unselected {
            background-color: grey;
            width: 0px;
            height: 0px;
        }
        
        .selected-allitems {
            margin-top: 4px;
            background-color: black;
            width: 35px;
            height: 4px;
            position: relative;
            left: 9.5%;
            transition: 0.3s;
            animation-name: selected-anim;
            animation-duration: 0.4s;
        }
        
        .selected-shirts {
            margin-top: 4px;
            background-color: rgb(182, 182, 182);
            width: 40px;
            height: 4px;
            position: relative;
            left: 35.9%;
            transition: 0.3s;
            animation-name: selected-anim;
            animation-duration: 0.4s;
        }
        
        .selected-pants {
            margin-top: 4px;
            background-color: rgb(182, 182, 182);
            width: 35px;
            height: 4px;
            position: relative;
            left: 59%;
            transition: 0.3s;
            animation-name: selected-anim;
            animation-duration: 0.4s;
        }
        
        .selected-shoes {
            margin-top: 4px;
            background-color: rgb(182, 182, 182);
            width: 35px;
            height: 4px;
            position: relative;
            left: 82.3%;
            transition: 0.3s;
            animation-name: selected-anim;
            animation-duration: 0.4s;
        }
    }
}

@keyframes category-anim {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 21px;
    }
}

@keyframes selected-anim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dropdown-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    animation-name: filter-anim;
    animation-duration: 0.6s;

    .divider {
        width: 70%;
        border-top: 2px solid rgba(0,0,0,0.16);
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        .bold {
            font-weight: bold;
        }

        li {
            padding: 0px 12px 10px 12px;
            transition: 200ms;
            &:active {
                transform: scale(0.95);
            }
        }
    }

    .filter-ul {
        padding: 12px 10px;
        display: flex;
        flex-wrap: wrap;
        width: 213px;
        
        .choose-color {
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
            padding: 0px;
            margin: 3px;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            transition: 250ms;
            &:active {
                transform: scale3d(0.9, 0.9, 0.9);
            }

            .selected-color {
                pointer-events: none;
                position: relative;
                margin: -2px 0px 0px 20px;
                display: grid;
                place-items: center;
                width: 13px;
                height: 13px;
                border-radius: 100%;
                background-color: black;
                box-shadow: 0px 0px 0px 3px var(--background);
                color: white;
                font-size: 7px;
            }
        }

        .choose-size {
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            font-weight: 700;
            font-size: 14px;
            margin: 3px;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background-color: #DEDEDE;
            transition: 250ms;
            &:active {
                transform: scale3d(0.9, 0.9, 0.9);
            }
        }

        .selected-size {
            margin: 3px;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background-color: black;
            color: #DEDEDE;
        }
    }

    .remove-ul {
        padding-top: 10px;
    }
}

@keyframes filter-anim {
    0% {
        opacity: 0;
        height: 0px;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: 242px;
    }
}

.browsing {
    padding: 20px;
}

.home-container {
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .no-results {
        padding-top: 100px;
        width: 100%;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        color: black;
        opacity: 26%;
    }

    .product {
        position: relative;
        border-top: 4px solid #FFF06B;
        margin-top: 0px;
        margin-bottom: 20px;
        max-width: 170.39px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        min-width: 168px;
        align-items: flex-end;

        .overlay {
            position: absolute;
            inset: 0;
            background-color: white;
            transition: 500ms;
        }

        .image {
            width: auto;
            height: 270px;
        }

        .info-box {
            margin-top: -4px;
            height: auto;
            width: 100%; 

            .wishlist-btn {
                position: relative;
                display: grid;
                place-items: center;
                outline: none;
                border: none;
                border-radius: 100%;
                width: 32px;
                height: 32px;
                background-color: white;
                bottom: 41px;
                left: 130px;
                font-size: 17px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                i {
                margin-top: 2px;
                }
            }

            @media screen and (max-width: 1025px) {
                .wishlist-btn {
                    visibility: hidden;
                    position: relative;
                    display: grid;
                    place-items: center;
                    outline: none;
                    border: none;
                    border-radius: 100%;
                    width: 32px;
                    height: 32px;
                    background-color: white;
                    bottom: 41px;
                    left: 130px;
                    font-size: 17px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
                    i {
                    margin-top: 2px;
                    }
                }
            }
            
            .text {
                margin: 5px;
                margin-top: -25px;
               
                p {
                    font-size: 13px;
                    padding: 2px;
                    margin: 0px;
                }

                .all-colors {
                    display: flex;
                    align-items: center;

                    .show-color-small {
                        box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
                        display: inline-block;
                        padding: 0px;
                        margin: 2px;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}

@media(min-width: 680px) {
    .browsing {
        padding: 20px;
        width: 592px;
        margin: auto;
    }

    .home-container {
        padding-bottom: 40px;
        width: 592px;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media(min-width: 1220px) {
    .browsing {
        padding: 20px;
        width: 1000px;
        font-size: 60px;
        margin: auto;
    }

    .home-container {
        padding-bottom: 40px;
        width: 1152px;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .product {
            cursor: pointer;
            min-width: 300px;
            min-height: 500px;
            position: relative;
            border-top: 4px solid #FFF06B;
            margin-top: 0px;
            margin-bottom: 20px;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;
            align-items: flex-end;
    
            .overlay {
                position: absolute;
                inset: 0;
                background-color: white;
                transition: 500ms;
            }
    
            .image {
                width: auto;
                height: 450px;
            }
    
            .info-box {
                margin-top: -4px;
                height: auto;
                width: 100%; 
    
                .wishlist-btn {
                    position: relative;
                    display: grid;
                    place-items: center;
                    outline: none;
                    border: none;
                    border-radius: 100%;
                    width: 32px;
                    height: 32px;
                    background-color: white;
                    bottom: 41px;
                    left: 253px;
                    font-size: 17px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
                    i {
                    margin-top: 2px;
                    }
                }
                
                .text {
                    margin: 5px;
                    margin-top: -25px;
                   
                    p {
                        font-size: 13px;
                        padding: 2px;
                        margin: 0px;
                    }
    
                    .all-colors {
                        display: flex;
                        align-items: center;
    
                        .show-color-small {
                            display: inline-block;
                            padding: 0px;
                            margin: 2px;
                            width: 10px;
                            height: 10px;
                            border-radius: 100%;
                        }
                    }
                }
            }
        }
    }
}

.visible {
    position: fixed;
    opacity: 1;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--yellow);
    font-size: 20px;
    right: 120px;
    bottom: 40px;
    transition: 0.3s ease-in-out;
}

@media(max-width: 768px) {
    .visible {
        opacity: 1;
        width: 60px;
        height: 60px;
        right: 40px;
        bottom: 35px;
        font-size: 18px;
    }

    .invisible {
        opacity: 0;
        width: 60px;
        height: 60px;
        right: 40px;
        bottom: 35px;
    }
}

@media(max-width: 500px) {
    .visible {
        opacity: 1;
        width: 50px;
        height: 50px;
        right: 20px;
        bottom: 20px;
        font-size: 16px;
    }

    .invisible {
        opacity: 0;
        width: 50px;
        height: 50px;
        right: 20px;
        bottom: 20px;
    }
}

.invisible {
    opacity: 0;
    width: 80px;
    height: 80px;
    transition: 0.3s ease-in-out;
}