.landingWrapper {
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    object-fit:cover;
    margin:0px;
    background-color: black !important;

    a { 
        color: black; text-decoration: none 
    }

    .titleContainer {
        display: flex;
        position: absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        justify-content: center;
        margin-top: 20px;
        z-index: 20;
        
        .title {
            display: flex;
            justify-content: center;
            background-color:#FFF06B;
            width: 200px;
            height: 50px;
            padding: 2px;
        }
    }

    .imageContainer {
        display: flex;
        flex-wrap: wrap;
        height: 815px;
        width: 100%;
        justify-content: space-between;

        .leftSide {
            background-color: #EDECEA;
            display: flex;
            height: 100%;
            width: 50%;
            flex-direction: row;
            justify-content: start;
            background-size: cover;
            transition: 200ms;
            overflow: hidden;
            border-right: 1px solid white;
            &:active {
                opacity: 0.5;
            }
            &:active .menImage {
                transform: scale(3.4);
            }
            
            .buttonContainerMen {
                position: absolute;
                display: flex;
                justify-content: space-around;
                top: 70%;
                margin-left: auto; 
                margin-right: auto; 
                margin-top: 20px;
                height: 100px;
                width:49.5%;
                align-items: center;

                .menButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // position: absolute;
                    background-color:#FFF06B;
                    width: 110px;
                    height: 40px;
                    text-decoration: black;
                    border: none;
                    font-size: 1.9em;
                    font-weight: bold;
                    z-index: 10;
                }
            }

            .menImage {
                transition: 200ms;
                margin-top: 100px;
                width: 100%;
                height: 100%;
                transform: scale(3.6);
                object-fit: contain;
            } 
            
            @media screen and (min-width: 600px) { 
                .menImage {
                    transition: 200ms;
                    margin-top: 100px;
                    width: 100%;
                    height: 100%;
                    transform: scale(1.2);
                    object-fit: contain;
                }
            }
        }
        
        .rightSide {
            background-color: #E9E8E6;
            display: flex;
            height: 100%;
            width: 50%;
            flex-direction: row;
            justify-content: end;
            overflow: hidden;
            border-left: 1px solid white;
            transition: 200ms;
            &:active {
                opacity: 0.5;
            }
            &:active .womenImage {
                transform: scale(3.2);
            }

            .buttonContainerWomen {
                display: flex;
                position: absolute; 
                justify-content: space-around;
                top: 70%;
                margin-left: auto; 
                margin-right: auto; 
                margin-top: 20px;
                height: 100px;
                width:49.5%;
                align-items: center;
                z-index: 10;

                .womenButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color:#FFF06B;
                    width: 110px;
                    height: 40px;
                    text-decoration: black;
                    border: none;
                    font-size: 1.7em;
                    font-weight: bold;
                }
            }
            
            .womenImage {
                margin-top: 100px;
                width: 100%;
                height: 100%;
                transform: scale(3.4);
                margin-right: -24px;
                margin-top: 70px;
                object-fit: contain;
                transition: 200ms;
            }

            @media screen and (min-width: 600px) { 
                .womenImage {
                    margin-top: 100px;
                    width: 100%;
                    height: 100%;
                    transform: scale(1.2);
                    margin-right: -24px;
                    margin-top: 70px;
                    object-fit: contain;
                    transition: 200ms;
                } 
            } 
        }
    }
}