.profilePageWrapper {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0px;
    background-color: var(--background);

    .accountContainer {
        letter-spacing: -1pt;
        margin: auto;
        padding: 20px;
        padding-left: 25px;
        
        .accountTitle {
            display: flex;
            font-size: 32px;
            font-weight: bold;
        }
    }

    .profilePicContainer {
        width: 140px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: 20%;
        position: relative;
        margin: 25px auto 0 auto;

        #profilePic {
            font-size: 9rem;
            color:#9B9B9B;
            font-weight: bold;
        }

        .profileCameraBackground {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -5%;
            right: 130px;
            background: white;  
            border-radius: 50%;
            width: 35px;
            height: 35px;
            right: 0;
            top:0;

            #profileCameraIcon {
                position: absolute;
                // top: -5%;
                font-size: 1.3rem;
            }
        }
    }
    
    .accountInfoContainer {
        width: 95%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: center;
        background-color: white;
        border-top: 4px solid var(--yellow);
        font-weight: bold;
        padding: 10px 5px 10px 5px;
        
        .accountForm {
            width: auto;
            height: auto;
            
            #label {
                position: absolute;
                margin-bottom: 10px;
            }

            .inputText[type=text],[type=password] {
                margin: 10px 5px 5px 0;
                padding: 10px;
                border: none;
                color:black;
                font-size: 1rem;
                font-weight:bold;
                margin-top:15px;
                font-family: 'Inter';
            }

            .inputText:disabled {
                background-color: white;
                // border-radius: 5px;
                color:rgb(0, 0, 0);
                margin-top:15px;
                font-weight: 700;
            }
            
            
            textarea:focus, input:focus{
                outline: none;
            }
            
            button {
                font-weight: bold;
                background-color: var(--yellow);
                width: 60px;
                height: 25px;
                border-radius: 5px;
                margin-left: 0px;
                padding: 5px;
                font-family: 'Inter';
            }

            .username,
            .emailadress,
            .password {
                color:#8F8F8F;
                font-size: 0.8rem;
                position: absolute;
                padding-left: 10px;
                
            }
            
            ::placeholder {
                opacity: 1;
                color: #000000;
                font-size: 1rem;
                font-weight: bold;
                position: relative;
            }

            .saveButton {
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 50px;
              width: 100px;
              margin: 10px auto 0 auto;
            }
            .newPassword {
                color:#000000;
                font-size: 0.8rem;
                padding-left: 10px;
            }

        }
    }
    
    .signoutContainer {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        height:100px;
        width:100%;
        padding-top: 200px;
        
        
        .signoutButton {
            display: flex;
            align-items: center;
            justify-content: center;
            color:#000000;
            background-color: var(--yellow);
            width:225px;
            height:50px;
            border-radius: 40px;
            font-size: 1.1rem;
            font-weight: bold;
            font-family: 'Inter';
        }
    }
}

@media all and (min-width: 1024px) {
    .profilePageWrapper {
        .profileTitleContainer {
            display: none;
        }

        .accountContainer {
            display: block;
            position: relative;
            letter-spacing: -1pt;
            width: 518px;
            margin: auto;
            padding: 40px;
            padding-left: 25px;

            .accountTitle {
                display: inline;
                font-size: 50px;
                text-align: center;
                margin: 0;
            }
        }

        .accountInfoContainer {
            width: 518px;
            margin: auto;
            display: block;

            .inputText[type=text],[type=password] {
                margin: 10px 5px 5px 0;
                padding: 10px;
                border: none;
                color:black;
                font-size: 1rem;
                font-weight: 200;
            }

            .inputText:disabled {
                background-color: white;
                // border-radius: 5px;
                color:rgb(0, 0, 0);
            }

            button {
                float: right;
                margin: 20px 20px 10px 5px;
            }
        }

        .signoutContainer {
            .signoutButton{
                width: 275px;
                letter-spacing: -0.5pt;
            }
        }
    }
}