.product-page {
  font-family: 'Inter', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--background);
  .image-container {
    position: relative;
    height: 40vh;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .wishlist-btn {
      position: absolute;
      display: grid;
      place-items: center;
      outline: none;
      border: none;
      border-radius: 100%;
      width: 38px;
      height: 38px;
      background-color: white;
      bottom: 12px;
      right: 12px;
      font-size: 22px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      svg {
        margin-top: 2px;
      }
    }
  }
  .wrapper {
    padding: 20px 40px;
    border-top: 3px solid var(--yellow);
    .info-container {
      width: 100%;
      .container {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 20px;
        .name {
          display: flex;
          justify-content: flex-start;
          width: 70%;
          word-break: keep-all;
        }
        .price {
          display: flex;
          justify-content: flex-end;
          width: 25%;
        }
      }
      .description {
        overflow: hidden;
        font-size: 12px;
        font-weight: 600;
        color: #6A6A6A;
        line-height: 1.6;
        max-height: 1000px;
        transition: 500ms ease-in-out;
      }
      .show-more {
        color: black;
      }
    }
    .options-container{
      width: 100%;
      margin: 20px 0;
      font-weight: 700;
      font-size: 14px;
      ul {
        display: flex;
        margin: 8px 0;
        li {
          position: relative;
          width: 32px;
          height: 32px;
          border-radius: 100%;
          margin-right: 6px;
          user-select: none;
        }
      }
      .color-list {
        .selected {
          pointer-events: none;
          position: absolute;
          right: 0;
          top: 0;
          display: grid;
          place-items: center;
          width: 13px;
          height: 13px;
          border-radius: 100%;
          background-color: black;
          box-shadow: 0px 0px 0px 3px var(--background);
          color: white;
          font-size: 7px;
        }
      }
      .size-list {
        .size-btn {
          display: grid;
          place-items: center;
          background-color: #DEDEDE;
        }
        .selected {
          background-color: black;
          color: #DEDEDE;
        }
      }
    }
  }
  .bottom-whitespace {
    height: 85px;
    width: 100%;
    margin-top: auto;
  }
  .checkout-btn {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 50px);
    bottom: 25px;
    border-radius: 100px;
    height: 60px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    span {
      margin: 0 8px;
    }
  }
}