.product-page {
  font-family: 'Inter', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  .content-wrapper {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    .image-container {
      position: relative;
      height: 40vh;
      width: 100%;
      display: flex;
      justify-content: center;
      .img-overlay {
        position: absolute;
        inset: 0;
        background-color: white;
        transition: 500ms;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .go-back-btn {
        position: fixed !important;
        top: 12px;
        left: 12px;
      }
      .shopping-cart-btn {
        position: fixed !important;
        top: 12px;
        right: 12px;
        .cart-count {
          position: absolute;
          background-color: var(--yellow);
          border-radius: 100%;
          display: grid;
          place-items: center;
          width: 14px;
          height: 14px;
          font-size: 10px;
          right: 0;
          top: 0;
          font-weight: 700;
          font-family: 'Inter', sans-serif;
        }
      }
    }

    .wishlist-btn,.go-back-btn,.shopping-cart-btn {
      position: absolute;
      display: grid;
      place-items: center;
      outline: none;
      border: none;
      border-radius: 100%;
      width: 38px;
      height: 38px;
      background-color: white;
      font-size: 22px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 5;
      // overflow: hidden;
    }
    .wishlist-btn {
      width: 60px;
      height: 60px;
      // display: none;
      bottom: 0;
      // right: 12px;
      left: 340px;
      transition: 250ms;
      background-color: var(--yellow);
      font-size: 26px;
      &:active  {
        transform: scale3d(0.9, 0.9, 0.9);
      }
      &:focus i {
        animation: heartHover 250ms cubic-bezier(0,.9,.2,.99);
      }
    }
    @keyframes heartHover {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }
  
    .wrapper {
      position: relative;
      padding: 20px 40px;
      border-top: 3px solid var(--yellow);
      .info-container {
        width: 100%;
        .container {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 20px;
          display: flex;
          .name {
            display: flex;
            justify-content: flex-start;
            width: 60%;
            word-break: keep-all;
          }
          .price {
            display: flex;
            justify-content: flex-end;
            width: 30%;
          }
        }
        .description {
          overflow: hidden;
          font-size: 12px;
          font-weight: 600;
          color: #6A6A6A;
          line-height: 1.6;
          max-height: 1000px;
          transition: 500ms ease-in-out;
        }
        .show-more {
          color: black;
        }
      }
      .options-container{
        width: 100%;
        margin: 20px 0;
        font-weight: 700;
        font-size: 14px;
        ul {
          display: flex;
          flex-wrap: wrap;
          margin: 8px 0;
          li {
            position: relative;
            width: 32px;
            min-width: 32px;
            height: 32px;
            border-radius: 100%;
            margin: 0 6px 6px 0;
            user-select: none;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
            transition: 250ms;
            &:active {
              transform: scale3d(0.9, 0.9, 0.9);
            }
          }
        }
        .color-list {
          .selected {
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            display: grid;
            place-items: center;
            width: 13px;
            height: 13px;
            border-radius: 100%;
            background-color: black;
            box-shadow: 0px 0px 0px 3px var(--background);
            color: white;
            font-size: 7px;
          }
        }
        .size-list {
          .size-btn {
            display: grid;
            place-items: center;
            background-color: #DEDEDE;
          }
          .selected {
            background-color: black;
            color: #DEDEDE;
          }
        }
      }
    }
    .bottom-whitespace {
      height: 85px;
      width: 100%;
      margin-top: auto;
    }
    .checkout-btn {
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0);
      width: calc(100% - 50px);
      bottom: 25px;
      border-radius: 100px;
      height: 60px;
      background-color: black;
      color: white;
      font-weight: 700;
      font-family: 'Inter', sans-serif;
      transition: 100ms;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 400px;
      span {
        margin: 0 8px;
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}



@media all and (min-width: 1024px) {

  // .product-page .content-wrapper .bottom-whitespace {
  //   // display: none;
  // }

  .product-page .content-wrapper {
    max-width: 950px;
    background-color: transparent;

  }
  .product-page .content-wrapper .wrapper {
    border-top: none;
    padding: 0 20px;
    opacity: 0;
    transition: 400ms;
  }

  .desktop-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    border-top: 3px solid var(--yellow);
    padding: 40px;
    background-color: white;
    .section {
      display: flex;
    }
    .others-also-bought {
      position: relative;
      width: 500px;
      margin: 120px auto 0 auto;
      label {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
      }
      ul {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        li {
          position: relative;
          border-top: 3px solid var(--yellow);
          height: 250px;
          width: 150px;
          overflow: hidden;
          &:hover img {
            filter: brightness(0.95);
            transform: scale3d(1.1,1.1,1.1);
          }
          img {
            transition: 400ms;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 1px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #C4C4C4;
        top: -50px;
      }
    }
  }
  .image-container button {
    display: none !important;
  }

  .product-page .content-wrapper .image-container {
    min-height: 500px;
    min-width: 450px;
  }

  .product-page .content-wrapper .wrapper .info-container .container {
    flex-direction: column;
    .price {
      width: unset;
      justify-content: flex-start;
      color: #4D4D4D;
    }
    .name {
      width: unset;
    }
  }

  .product-page .content-wrapper {
    .checkout-btn {
      display: none;
    }
  }


  .product-page .content-wrapper .desktop-wrapper {
    .checkout-btn {
      position: absolute;
      display: block;
      bottom: 0;
      left: unset;
      transform: unset;
      width: 300px;
    }
  }

}

@media all and (max-width: 1023px) {
  .product-page .content-wrapper .desktop-wrapper {
    .checkout-btn {
      display: none;
    }
  }

  .others-also-bought {
    display: none !important;
  }
  .wishlist-btn {
    display: none !important;
  }
}



// @media all and (min-width: 1024px) {
//   .product-page .content-wrapper .image-container img {
//     width: 50%;
//     object-fit: cover;
//   }
// }

@media all and (min-width: 360px) {
  .product-page .content-wrapper .image-container img {
    object-fit: contain;
  }
}

@media all and (max-width: 1200px) and (min-width: 1024px) {
  .product-page .content-wrapper {
    max-width: 900px;
    left: 40px
  }
}