.container-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .yellow-side{
        width: 13px;
        height: 812px;
        background-color: var(--yellow);
        position: fixed;
        left: 0;
    }
    
    .head{
        background-color: var(--yellow);
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 230px; 
        height: 60px;

        .h1-name{
            font-size: 230%;
            font-weight: 700;
            margin: 5px;
        }
    }

    .formRegister{
        display: flex;
        flex-direction: column;
        margin-top: 63px;
        width: 225px;
        

        .inputRegister{
            display: flex;
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid var(--grey);
            background-color: #F4F4F4;
            font-size: 120%;
            height: 25px;
        }  

        .inputRegister::placeholder{ 
            outline: none;
            color: var(--grey);
            font-weight: 700;
        }

        .inputRegister:focus {
            outline: none;
        }

        .inputRegisterError{
            border-color: red;
        }

        .errorText{
            color:red;
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 700;
        }

        .placeholder{
            color: var(--background);
            height: 19px;
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 700;
        }

        .registerButton{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-top: 30px;
            background-color: var(--yellow);
            border: none;
            border-radius: 100px;
            height: 53px;
            font-weight: 700;
            font-size: 100%;
            font-family: 'Inter';
        }
            
        .loginText {
            margin-top: 10px;
            text-align: center;
            color: black;
            opacity: 26%;
            text-decoration: none;
            font-size: 90%;
            margin-top: 10px;
            font-weight: 700;
            
        }

        .loginLink {
            cursor: pointer;
            text-decoration: underline 2px;
            margin-top: 2px;
            text-align: center;
            color: black;
            font-size: 90%;
            font-weight: 700;
            background-color: #F4F4F4;
            font-family: 'Inter';
        }
    }
}

@media all and (min-width: 1024px) {
    .container-register {
        .yellow-side {
            height: 100%;
            width: 73px;
        }
    }
}