.wrapper{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
    object-fit: cover;
    margin: 0px;
    background-color:#F4F4F4;

    .navContainer{
        position: absolute; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        padding: 40px 20px 15px 20px;
    }
    
    .profileTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#FFF06B;
        width: 155px;
        height: 42px;
        padding: 2px;
        font-size: 1.6rem;
        font-family: 'Inter', sans-serif;
    }
    
   #shoppingCart{
       font-size: 1.5rem;
   }
    #userCircle{
        font-size: 1.5rem;
    }
}

