.Toastify__toast-container {
  position: absolute;
  border-radius: 20px;
  top: 10px;
  width: 80%;
  max-width: 500px;
  left: 50%;
  transform: translate(-50%, 0);
  .Toastify__toast {
    background-color: rgba(255, 255, 255, 0.95);
    color: #6A6A6A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    min-height: 42px;
    max-height: 42px;
  }
  .Toastify__close-button {
    display: none;
  }
  .Toastify__toast-icon {
    margin-top: -3px;
  }
}