@import "landing";
@import "_config";
@import "_utilities";
@import "_home";
@import "_register";
@import "_login";
@import "_firstLoad";
@import "_product-page";
@import "_profile";
@import "_wishlist";
@import "_checkout";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body {
  max-width: 100vw;
  height: 100%;
  background-color: var(--background);
}

ul {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
}

.page {
  position: absolute !important;
  inset: 0;
}
