@import "landing";
@import "_config";
@import "_utilities";
@import "_home";
@import "_product-page";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body {
  width: 100vw;
  height: 100vh;
<<<<<<< HEAD
  background-color: var(--background);
}


=======
  font-family: 'Inter', sans-serif;
  background-color: #F4F4F4;
}

>>>>>>> 98ffe82b71b27b3f76ec64f646969c98486afee7
ul {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
}

.page {
  position: absolute !important;
  inset: 0;
}
