@import "landing";
@import "_config";
@import "_utilities";
@import "_home";
@import "_register";
@import "_login";
@import "_firstLoad";
@import "_product-page";
@import "_profile";
@import "_wishlist";
@import "_checkout";
@import "_animation";
@import "_shoppingcart";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  overflow: auto;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  overflow: var(--overflow) !important;
  // overflow: hidden !important;
}

#root {
  height: 100%;
  width: 100%;
}

.page {
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  position: absolute !important;
  height: 100%;
  inset: 0;
}


ul {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
}


